<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>App</title>
</head>

<body>
  <h2>Faltes de hui +- 1 hora</h2>
  <table border="1" cellpadding="8" style="border-collapse:collapse; width:100%; text-align:center;">
    <thead>
      <tr>
        <th>Hora</th>
        <th>Assignatura</th>
        <th>Grup</th>
        <th>Ubicació</th>
        <th>Treball</th>
        <th>Docent</th>
      </tr>
    </thead>
    <tbody>
      {{#each absence}}
      <tr>
        <td>
          {{!-- Extrae la hora local de Madrid --}}
          {{formatHour date_absence}}
        </td>
        <td>{{subject}}</td>
        <td>{{group}}</td>
        <td>{{location}}</td>
        <td>{{work}}</td>
        <td>{{user.name}} {{user.surname}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>